# Docker Compose Environment Variables
POSTGRES_USER=postgres_user_here
POSTGRES_PASSWORD=postgres_password_here
POSTGRES_DB=app_tracker
POSTGRES_PORT=5432

# API
API_PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}

# UI
UI_PORT=3000
NEXT_PUBLIC_API_URL=http://api:3001
