# Docker Compose Environment Variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_tracker
POSTGRES_PORT=5432

# API
API_PORT=5030
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@postgres:5432/app_tracker

# UI
UI_PORT=3020
NEXT_PUBLIC_API_URL=http://localhost:5030
